**/*.pc
**/*.trs
**/*.test
src/main/perl/lib/t/*.t
cpan/extra-files
cpan/resources
cpan/provides
**/*.tar.gz
**/*.1man
**/*.3man
*.spec
aclocal.m4
configure
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
**/Makefile
**/Makefile.in
config.status
config.log
autom4te.cache/
autotools/missing
autotools/install-sh
src/main/perl/**/*.pm
src/main/perl/**/*.pl
src/main/perl/**/*.cgi
src/main/perl/**/*.xml
src/main/perl/lib/*.tpl
src/main/bash/bin/modulino
src/main/bash/bin/cli-simple-example
src/main/perl/bin/create-modulino
config/*.xml
src/main/bash/**/*.sh
autotools/prove.sh
autotools/test-driver
install-from-cpan
**/*.log
cpan/*.tmp
