**/*.1man
*.spec
aclocal.m4
configure
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
**/Makefile
**/Makefile.in
config.status
config.log
autom4te.cache/
autotools/missing
autotools/install-sh
src/main/perl/**/*.pm
src/main/perl/**/*.pl
src/main/perl/**/*.cgi
src/main/perl/**/*.xml
src/main/perl/lib/*.tpl
config/*.xml
src/main/bash/**/*.sh
autotools/prove.sh
autotools/test-driver
install-from-cpan
**/*.log
